/* In your CSS file */
/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

body {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 400px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-logo {
    display: block;
    margin-bottom: 20px;
    max-width: -webkit-fill-available;
}

.form-group {
    margin-bottom: 20px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
}

.error-message.show {
    display: block;
}


.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}
.dentread-primary-button{
    border: 0.5px solid #1f3f7f;
    border-radius: 24px;
    color: white;
    background-color: #0076CC;
  }
  .dentread-primary-button:hover {
    color: white !important;
    background-color: #0076CC !important;
    border-color: inherit;
  }
  .dentread-primary-button:active {
    background-color: inherit;
    border-color: #d4d0d0 !important;
  }

