node_modules/electron/dist/electron.exe
Dentread/*
node_modules/*
dentreadapp/win-unpacked/Dentread IM App*
dentreadapp/win-unpacked/Dentread-IM-App*
dentreadapp/Dentread IM App*
dentraed/*
DentreadBuild/*